.slide-in-left {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideInLeftAnimation 1s ease-in-out forwards;
  }
  
  @keyframes slideInLeftAnimation {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }